<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/main.css">
  </link>
  <script src="/js/active.js"></script>
  <title>Office</title>
</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__list">
        <li class="main-header__item"><a class="active" href="/">Office</a></li>
        <li class="main-header__item"><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main class="main">
    <h1>Welcome Back!</h1>
    <img src="/images/hippi.jpg" alt="Hippi (your friendly, smilly and fluffy dog) is welcoming you to your workplace." width="480" height="480" />
  </main>
</body>

</html>
